* {
  box-sizing: border-box;
}
.header {
  border: solid 1px black;
  padding: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  height: 2rem;
}

.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav-item {
  padding: 0 10px;
}

.res-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 5px;
  padding: 5px;
  max-width: 13rem;
  background-color: #edeaec;
}

.res-card img {
  width: 100%;
}
.res-card:hover {
  border: solid 1px black;
  cursor: pointer;
}

.filter-btn {
  margin: 10px;
}
